/* The CSS code provided is defining the styles for a services page. */
.services-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  padding: 20px;
  height: 100vh; /* Make sure the container takes up the full viewport height */
  margin-top: -150px;
}

.services-title {
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 40px;
  color: #000000;
}

.managed-it-title {
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #32324D;
}

.description {
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}

.title-inside-box {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #32324D;
  width: 100%;
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30%; 
  height: 200px;
  background: #ffffff; 
  border: 2px solid #000000; 
  border-radius: 4px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .services-title {
    font-size: 48px;
    line-height: 30px;
  }

  .managed-it-title {
    font-size: 24px;
    line-height: 28px;
  }

  .description {
    font-size: 18px;
    line-height: 22px;
  }

  .title-inside-box {
    font-size: 20px;
    line-height: 24px;
  }

  .info-container {
    flex-direction: column;
  }

  .info-box {
    width: 100%;
    height: auto;
  }
}

.services-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
