/* Navigation.css */

/* Logo styles */
#logo.logo-custom {
  width: 40px;
  height: 40px;
  border-radius: 5px; /* Makes the square have rounded corners */
  /* Update border color */
  cursor: pointer;
  /* Change cursor to hand */

  /* Responsive adjustments */
  @media (max-width: 992px) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: 768px) {
    width: 25px;
    height: 25px;
  }
}

/* Primary link styles */
.nav-link.text-primary {
  font-size: 1rem;
  padding: .5rem 1rem;
  color: #0d6efd !important;

  /* On hover effect */
  &:hover {
    color: #0b5ed7 !important;
  }

  /* Positioning for the last element */
  &:last-child {
    margin-left: auto;
  }

  /* Responsive adjustments */
  @media (max-width: 1200px) {
    font-size: .875rem;
  }

  @media (max-width: 992px) {
    font-size: .75rem;
  }

  @media (max-width: 768px) {
    font-size: .625rem;
    padding: .25rem .5rem;
  }

  @media (max-width: 576px) {
    font-size: .5rem;
  }
}

/* Active link styles */
.nav-link.active {
  font-weight: bold !important;
  color: #0b5ed7 !important;
}