/* Navigation.css */
#logo.logo-custom {
  width: 80px;
  height: auto;
  border: 2px solid #0d6efd;
  /* Update border color */
  cursor: pointer;
  /* Change cursor to hand */
}

.nav-link.text-primary {
  font-size: 1rem;
  /* Replace pixel sizes with rem for scalability */
  padding: .5rem 1rem;
  /* Replace pixel sizes with rem for scalability */
  color: #0d6efd !important;
  /* Important to override Bootstrap's .nav-link color */
}

.nav-link.text-primary:hover {
  color: #0b5ed7 !important;
  /* Darken link on hover */
}

.nav-link.text-primary:last-child {
  margin-left: auto;
}

.nav-link.active {
  /* Add .active to enhance the current page link */
  font-weight: bold !important;
  /* Make the text bold */
  color: #0b5ed7 !important;
  /* Use a darker color */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .nav-link.text-primary {
    font-size: .875rem;
  }
}

@media (max-width: 992px) {
  .nav-link.text-primary {
    font-size: .75rem;
  }

  #logo.logo-custom {
    width: 60px;
  }
}

@media (max-width: 768px) {
  .nav-link.text-primary {
    font-size: .625rem;
    padding: .25rem .5rem;
  }

  #logo.logo-custom {
    width: 40px;
  }
}

@media (max-width: 576px) {
  .nav-link.text-primary {
    font-size: .5rem;
  }

  #logo.logo-custom {
    width: 30px;
  }
}