.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes at least the viewport height */
}

.content-wrapper {
  flex: 1; /* Let the content expand to fill the available space */
}

.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: -170px;
}


.left-container {
  flex: 1;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  text-align: left;
  margin-right: 200px;
}

.title-custom {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 49px;
  color: #000000;
}

.description-custom {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}

.logo-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

#biglogo {
  width: 200px;
  height: auto;
  border-radius: 5px; /* Add this line to round the corners */
}
 
 
.welcome-custom {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 1000;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.content-container {
  max-width: 688px;
}
#biglogo {
  width: 390px;
  height: auto;
}
