/* The code you provided is a CSS code block that defines the styles for a contact page. It includes
various CSS selectors and properties to style different elements on the page. */
/* The code you provided is a CSS code block that defines the styles for a contact page. It includes
various CSS selectors and properties to style different elements on the page. */
/* ContactPage.css */
.contact-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
}

.contact-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact-container {
    margin-top: 50px; 
}

.contact-details {
    margin-top: 50px; 
}

.contact-item h3 {
    color: #2F5CAC; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px; 
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #2F5CAC; 
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: #2F5CAC;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
    width: 100%; 
}
