/* The CSS code you provided is defining the styles for a project list page. */
.ProjectListPage {
  display: flex;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #32324D;
}

@media (max-width: 768px) {
  .ProjectListPage {
    flex-direction: column;
  }
}